 # Jupyter
 **/.ipynb_checkpoints

 # Logs e temporários
 *.log
 trashtemp/

 # Credentials
 src/data/olx_api/credentials.json

 # ignorar HTML em geral
 *.html
+# mas não ignorar os HTMLs de reports
+!reports/*.html
