# Python
__pycache__/
*.py[cod]

# Data
data/raw/
*.html
*_assets/

# VSCode
.vscode/

# Jupyter
**/.ipynb_checkpoints

# Logs e temporários
*.log
trashtemp/

# Credentials
src/data/olx_api/credentials.json
